body {
    margin: 0px;
    padding: 0px;
    height: 50px;
    background-image: url("../img/pattern.jpg")
}


#header{
    height: 100px;
    margin-top: 5px;
    width: auto;
    height: auto;
    background-color:white;
    

}

#header ul li {
    width: 100px;
    float: right;
    color: blue;
    margin-top: 50px;
    
}
.Content {
    width: 1000px;
    margin: auto;
    background-color:white;
}

.footer {
    width: 100%;
	height: 50px;
    background: black;
    color: white;
	line-height: 50px;
	bottom: 0px;
	margin: 0;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    
}

